</div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="//cdn.ckeditor.com/4.18.0/full/ckeditor.js"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title><%= title%></title>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Password Management System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/add-new-category">Add New Category</a></li>
                <li><a href="/passwordCategory">View All Category</a></li>
                
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/add-new-password">Add New Password</a></li>
                  <li><a href="/view-all-password">View All Password</a></li>
                  
                </ul>
              </li>
          </ul>
        </div>
      </nav>
    
     
      <div class="container">
        <div class="row">
              <h3 class="text-center"><%=title%></h3>
             <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-2" >
                <div class=" panel panel-info">
                 <div class="panel-heading">
                <div class="panel-title">Edit Password Details </div>
                <div style="float:right ;font-size:85% ;position:relative;top:-10px"></div>
               </div>
                <div class="panel-body">
                  <form action="/password-detail/edit/<%= record._id %>" id="passwordform" class="form-horizontal" role="form" method="post" >
  
                    <%if(success !=''){%>
                      <p style="align-items: center; color: green;"><%= success %></p> 
                      <% } %>

                    <div class="form-group">
                        <label for="username" class="col-md-3 control-label">Password Category</label>
                        <div class="col-md-9">
                          <select name="pass_cat" id="" class="form-control">
                            <option value="">Choose password category</option>
                            <% if(records.length > 0){
                              records.forEach(function(row){ %>
                                <option value="<%= row.Password_category %>" <% if(row.Password_category==record.Password_category){ %> selected <% } %>> <%= row.Password_category%></option>                            <% }) }  %>
                           
                          </select>
                        </div>
                        
                    </div>

                    <div class="form-group">
                      <label for="username" class="col-md-3 control-label">Project Name</label>
                      <div class="col-md-9">
                          <input type="textbox" class="form-control" name="project_name"  placeholder="Enter Your Project Name" value="<%= record.project_name %>">
                      </div>
                   </div>
  

                    <div class="form-group">
                      <label for="username" class="col-md-3 control-label">Password Details</label>
                      <div class="col-md-9">
                        <textarea class="form-control" id="editor" name="pass_detail" rows="5" placeholder="Enter your Password Details "> <%= record.Password_detail %> </textarea>
                      </div>
                      
                    </div>

                    <input type="hidden" name="id" value="<%= record._id %>">

                
                    <div class="form-group">
                      <div class="col-md-offset-3 col-md-9">
                        <input type="submit"  class="btn btn-info" name="submit" value="Update Password">
                      </div>
                    </div>

                    <p><a href="/view-all-password">View All Password Lists</a></p>
                    
                  </form>
  
                </div>
  
              </div>
  
           </div>
          
        </div>
  
    </div>
     
    <script>
      CKEDITOR.replace( 'editor' );
  </script>
</body>
</html>