<%- include('header')%>
     
      <div class="container">
        <div class="row">
              <h3 class="text-center"><%=title%></h3>
             <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-2" >
                <div class=" panel panel-info">
                 <div class="panel-heading">
                <div class="panel-title">Edit Password Details </div>
                <div style="float:right ;font-size:85% ;position:relative;top:-10px"></div>
               </div>
                <div class="panel-body">
                  <form action="/password-detail/edit/<%= record._id %>" id="passwordform" class="form-horizontal" role="form" method="post" >
  
                    <%if(success !=''){%>
                      <p style="align-items: center; color: green;"><%= success %></p> 
                      <% } %>

                    <div class="form-group">
                        <label for="username" class="col-md-3 control-label">Password Category</label>
                        <div class="col-md-9">
                          <select name="pass_cat" id="" class="form-control">
                            <option value="">Choose password category</option>
                            <% if(records.length > 0){
                              records.forEach(function(row){ %>
                                <option value="<%= row.Password_category %>" <% if(row.Password_category==record.Password_category){ %> selected <% } %>> <%= row.Password_category%></option>                            <% }) }  %>
                           
                          </select>
                        </div>
                        
                    </div>

                    <div class="form-group">
                      <label for="username" class="col-md-3 control-label">Project Name</label>
                      <div class="col-md-9">
                          <input type="textbox" class="form-control" name="project_name"  placeholder="Enter Your Project Name" value="<%= record.project_name %>">
                      </div>
                   </div>
  

                    <div class="form-group">
                      <label for="username" class="col-md-3 control-label">Password Details</label>
                      <div class="col-md-9">
                        <textarea class="form-control" id="editor" name="pass_detail" rows="5" placeholder="Enter your Password Details "> <%= record.Password_detail %> </textarea>
                      </div>
                      
                    </div>

                    <input type="hidden" name="id" value="<%= record._id %>">

                
                    <div class="form-group">
                      <div class="col-md-offset-3 col-md-9">
                        <input type="submit"  class="btn btn-info" name="submit" value="Update Password">
                      </div>
                    </div>

                    <p><a href="/view-all-password">View All Password Lists</a></p>
                    
                  </form>
  
                </div>
  
              </div>
  
           </div>
          
        </div>
  
    </div>
     
    <script>
      CKEDITOR.replace( 'editor' );
  </script>
</body>
</html>